/* Global Styles */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.sticky-header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fa0ade;
  padding: 10px;
  z-index: 1000;
}

.sticky-header nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.sticky-header nav ul li a {
  color: rgb(235, 226, 226);
  padding: 10px;
  text-decoration: none;
}

.hero {
  height: 100vh;
  background-color: #ec24ad;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profile-photo {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.cta-button {
  background-color: #007bff;
  color: rgb(237, 212, 212);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.about, .skills, .projects, .contact {
  padding: 50px 0;
}

.skills-list {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.project-list {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.contact-info, .contact-form {
  margin-top: 20px;
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  background-color: #28cc1d;
  color: rgb(240, 220, 220);
  border: none;
  cursor: pointer;
}